.three-sixty-container {
    position: relative;
    cursor: move;
    cursor: -webkit-grab;
    touch-action: none;
}

.three-sixty__hotspot {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #fff;
}

.three-sixty__hotspot--active {
    display: block;
}
